name: Build Droplet snapshot
on: 
  push: 
    tags:
      - "v*.*.*"

jobs:
  build-snapshot:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: setup packer
        uses: hashicorp/setup-packer@1aa358be5cf73883762b302a3a03abd66e75b232 # v3.1.0
        with:
          version: latest
      - name: install plugin
        run: packer plugins install github.com/digitalocean/digitalocean 1.1.1
      - name: build
        env:
          FF_VERSION: ${{ github.ref_name }}
          DIGITALOCEAN_API_TOKEN: ${{ secrets.DIGITALOCEAN_API_TOKEN }}
        run: ./build.sh
